table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.container-botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    width: 160px;
    border-radius: 0px;
  }
}
